{{#filter-content content=model properties="name address city state zip" as |filteredIngredients query|}}
  <div class="tools-bar">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="page-title"> List of Locations</div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 push-t30">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="search-form">
            <div class="form-group">
              {{ input value=query class="search" type="search" placeholder="Search"}}
              <button class="search-btn"><i class="ion-ios-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          {{link-to '+ Add New Loacation' 'settings.locations.new' class="base-btn btn-light"}}
        </div>
        <div class="col-md-2 col-sm-2">
          <div class="search-form">
            <div class="form-group">
              {{#rl-dropdown-container class="dropdown customer-select"}}
                {{#rl-dropdown-toggle class="btn btn-default dropdown-toggle"  data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="true"}}
                  {{paginateBy}} <span class="caret"></span>
                {{/rl-dropdown-toggle}}
                {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
                  {{#each-in paginationProperty as |key value|}}
                    <li><a href="#" {{action "setProperty" 'paginateBy' key}}>{{value}}</a></li>
                  {{/each-in}}
                {{/rl-dropdown}}
              {{/rl-dropdown-container}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#list-pagination items = filteredIngredients paginateBy = paginateBy as |paginatedItems page numberOfPages| }}
    <thead>
    <tr>
      <td>Location name</td>
      <td>Address</td>
      <td>City</td>
      <td>State</td>
      <td>Zip</td>
      <td>Action</td>
    </tr>
    </thead>
    <tbody>
    {{#each paginatedItems as |item|}}
      {{pbx-location/row location = item deleteRecord=(route-action 'deleteRecord')}}
    {{/each}}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="6">
        <!-- Pagination -->
        {{pagination-pager current=page count= numberOfPages countOut=1 countIn=1
                           aria-label="Page navigation"
                           class="navigation"}}
      </td>
    </tr>
    </tfoot>
  {{/list-pagination}}
{{/filter-content}}