<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Mailbox name</span>
  {{mailbox.name}}<span
    class="collapse-arrow hidden-lg hidden-md hidden-sm" {{ action 'collapsArrow'}}><i
    class="ion-ios-arrow-down"></i></span>
</td>
<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Mailbox Address</span>
  {{mailbox.mailbox}} </td>
{{!--<td class="td-collapse"><span class="mobile-title hidden-lg hidden-md hidden-sm">PIN</span>
  {{mailbox.pin}}
</td>
<td class="td-collapse"><span class="mobile-title hidden-lg hidden-md hidden-sm">Default caller ID</span>
  {{audio-player-index play=(route-action 'playGreeting') changeset=mailbox divClass='no-bg'}}
</td>--}}
<td><span class="mobile-title hidden-lg hidden-md hidden-sm">Action</span>
  {{link-to 'Edit |' 'settings.mailboxes.edit' mailbox class='edit'}}<span class="link" onclick={{perform
    deleteMailbox}}> Remove</span>
</td>