<td colspan="4">
  <div class="schedule-line">
    <span class="day-item {{if shift.daySun 'active' ''}}">Sun</span>
    <span class="day-item {{if shift.dayMon 'active' ''}}">Mon</span>
    <span class="day-item {{if shift.dayTue 'active' ''}}">Tue</span>
    <span class="day-item {{if shift.dayWed 'active' ''}}">Wed</span>
    <span class="day-item {{if shift.dayThu 'active' ''}}">Thu</span>
    <span class="day-item {{if shift.dayFri 'active' ''}}">Fri</span>
    <span class="day-item {{if shift.daySat 'active' ''}}">Sat</span>
  </div>
</td>
