<div class="container">
  {{#if changePassword.isIdle}}
  {{else}}
    {{ember-spinner config='standard'}}
  {{/if}}
  <div class="row">
    <div class="col-xs-12">
      <div class="login-block">
        <div class="base-form">
          <div class="row">
            <div class="col-xs-12">
              <a class="logo" href="#"><img src="/img/logo_mobile.png" alt="RingRx"></a>
            </div>
          </div>
          <div class="title">Change your password</div>
          <div class="row {{if ShowPasswordError 'error'}}">
            <div class="col-xs-12">
              <label for="email">New password:</label>
              {{one-way-input-mask passwordObj.password type='password' name="NewPassword" id="NewPassword"
                                   update=(action (mut passwordObj.password))}}
              {{#if ShowPasswordError}}
                <div class="error-box">
                  {{validation.password.message}}
                </div>
              {{/if}}
            </div>
          </div>
          <br>
          <div class="row {{if ShowConfirmationError 'error'}}">
            <div class="col-xs-12">
              <label for="email">Confirm your new password:</label>
              {{one-way-input-mask passwordObj.passwordConfirmation type='password' name="passwordConfirmation" id="passwordConfirmation"
                                   update=(action (mut passwordObj.passwordConfirmation))}}
              {{#if ShowConfirmationError}}
                <div class="error-box">
                  {{validation.passwordConfirmation.message}}
                </div>
              {{/if}}
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <button class="base-btn btn-light-blue" onclick={{perform changePassword}}>Change my password</button>
              <p>Have an account already?{{link-to 'Sign In' 'login'}}</p>
              <p>No account? <a href="https://ringrx.com/free-trial">Sign Up</a></p>
              <p>Did you {{link-to 'forget your password?' 'remind-password'}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>