<div class="modal-body">
  <div class="section-item">
    <div class="row form-row {{if ShowCurrentPasswordError 'error'}}">
      <div class="col-md-5 col-sm-4 col-xs-12"><label>Current Password:</label></div>
      <div class="col-md-7 col-sm-8 col-xs-12">
        {{one-way-input-mask passwordObj.currentPassword type='password' name="CurrentPassword" id="CurrentPassword"
                             update=(action (mut passwordObj.currentPassword))
                             onblur=(action (mut ShowCurrentPasswordValidation) true)}}
        {{#if ShowCurrentPasswordError}}
          <div class="error-box">
            {{validation.currentPassword.message}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row form-row {{if ShowNewPasswordError 'error'}}">
      <div class="col-md-5 col-sm-4 col-xs-12"><label>New Password:</label></div>
      <div class="col-md-7 col-sm-8 col-xs-12">
        {{one-way-input-mask passwordObj.newPassword type='password' name="NewPassword" id="NewPassword"
                             update=(action (mut passwordObj.newPassword))
                             onblur=(action (mut ShowCurrentPasswordValidation) true)}}
        {{#if ShowNewPasswordError}}
          <div class="error-box">
            {{validation.newPassword.message}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row form-row {{if ShowConfirmationError 'error'}}">
      <div class="col-md-5 col-sm-4 col-xs-12"><label>Confirm New Password:</label></div>
      <div class="col-md-7 col-sm-8 col-xs-12">
        {{one-way-input-mask passwordObj.newPasswordConfirmation type='password' name="newPasswordConfirmation"
                             id="newPasswordConfirmation"
                             update=(action (mut passwordObj.newPasswordConfirmation))
                             onblur=(action (mut showConfirmationValidation) true)}}
        {{#if ShowConfirmationError}}
          <div class="error-box">
            {{validation.newPasswordConfirmation.message}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="modal-footer form-footer">
  <button class="base-btn" type="submit" onclick={{perform saveButtonClick}}>Save</button>
  <a href="#" {{action 'rollback'}}>Cancel</a>
</div>